body{
  background-color: #444;
}

header{
  background-color: #fff;
}
.csvfield{
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #fff;
}

.csvfield{
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.csvfileform{
  border: 1px solid #000;
  border-radius: 15px;
  width: 30%;
  margin: 0 auto;
  padding: 1%;
}
.csvfileform input{
    position: relative;
    left: 18%;
}

.convertBtn{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 50pt;
}

.delimfield{
  /* border: 1px solid #000;
  padding: 10px; */
}

textarea
{
  width:100%;
  /* height: 70%; */
}
.textwrapper
{
  /* border:1px solid #999999;
  margin:5px 0;
  padding:3px; */
}

footer{
  height: 80px;
  background-color: #777;

}
