body{
  background-color: #444;
}

header{
  background-color: #fff;
}
.csvfield{
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #fff;
}

.csvfield{
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.csvfileform{
  border: 1px solid #000;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
  padding: 1%;
}
.csvfileform input{
    position: relative;
    left: 18%;
}

.redWarn{
  color: rgb(255, 0, 0);
}

.convertBtn{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 50pt;
}

textarea
{
  width:100%;
}

footer{
  height: 80px;
  background-color: #777;

}
